* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

.card {
  border: 1px solid #bdbdbd;
  display: flex;
  flex-direction: column;
  width: 38%;
  margin: 50px auto;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content {
  padding: 16px;
  text-align: center;
}

.btn {
  display: flex;
  justify-content: center;
}

.abtn,
.rbtn,
.dbtn,
.cbtn {
  height: 30px;
  width: 100px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

.abtn {
  background-color: #6495ED; 
  color: #fff;
}

.rbtn {
  background-color: #FF6347;
  color: #fff;
}

.dbtn {
  background-color: #ff4444;
  color: #fff;
  border: none;
}

.dbtn:hover {
  background-color: #d32f2f; 
}

.cbtn {
  background-color: #2874f0; 
  color: #fff;
  border: none;
}

.cbtn:hover {
  border: 2px solid #2874f0; 
}

.end {
  margin: 20px 20px;
  padding: 20px;
  width: 300px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #dd2c00; 
  padding: 20px;
  margin-bottom: 10px;
}

@media screen and (max-width: 900px) {
  .card {
    width: 80%;
  }
}
